.logo-size-custom {
    height: 60px;
    width: 60px;
}

.illustration-no-data {
    margin-top: 50px;
    width: 200px;
    height: 200px;
}

@media (max-width: 575px) {
    .btn-tambah {
        width: 100%;
    }
}
