.logo-size-custom {
    height: 60px;
    width: 60px;
}

.logo-size-medium{
    height: 100px;
    width: 100px;
}

.illustration-no-data {
    margin-top: 50px;
    width: 200px;
    height: 200px;
}

.illustration-no-notification {
    width: 150px;
    height: 150px;
}

.bg-white {
    background-color: white !important;
}

.text-danger-red{
    color: red;
}

.signature-pad{
    /* border:1px solid black; */
    text-align:center;
}
.canvas{
    width: 100%;
    height: 150px;
    border:3px dashed #3e4b5b;
}

.notification-badge{
    display: inline-block;
    height:8px;
    width:8px;
    margin-bottom: 2px;
    border-radius: 50px 50px;
}

.bg-gradient-deep-space-sea{
    background: -webkit-gradient(linear, left top, right top, from(#2C3E50), to(#4CA1AF)) !important;
    background: linear-gradient(to right, #2C3E50, #4CA1AF) !important; 
}

.bg-gradient-bloody-mary{
    background: -webkit-gradient(linear, left top, right top, from(#FF512F), to(#DD2476)) !important;
    background: linear-gradient(to right, #FF512F, #DD2476) !important; 
}

.position-progress-pole{
    width: 3px;
    height:35px
}

.position-progress-round{
    width: 10px;
    height:10px;
    border-radius:50%
}

.custom-select {
    background: none;
    height:25px;
    width:30px;
    line-height: 1;
}

.dashboard .dataTables_info,.dashboard .dataTables_length,.dashboard .dataTables_filter,.dashboard .dataTables_paginate{
    display: none !important;
}

.dataTables_info,.dataTables_length{
    font-size: 14px;
    color: #9c9fa6;
}

.dataTables_info,#datatables_paginate{
    margin-top:25px;
}

#datatables_paginate{
    margin-bottom:20px
}

.rotate {
    position: absolute;
    font-size: 30px;
    -webkit-animation:spin 0.7s linear infinite;
    -moz-animation:spin 0.7s linear infinite;
    animation:spin 0.7s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

.dtr-details{
    width: 100%;
}

.dtr-title{
    width: 30%;
}

.dtr-data{
    width: 70%;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th.dtr-control:before {
    border:none;
    background-color: #3e4b5b;
    box-shadow: none;
    line-height: 15px;
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .btn-margin {
        margin-top: 20px !important;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

@media (min-width: 481px) and (max-width: 767px) {
    .btn-tambah {
        width: 100%;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .btn-tambah {
        width: 100%;
    }
}

@media (min-width: 0px) and (max-width: 997px) {
    .p-sm {
        height:90px;
    }
}

@media (min-width: 997px) and (max-width: 1295px) {
    .p-sm {
        height:40px;
    }
}
